flask
google-genai
pydantic
hijridate
pandas
openpyxl
Pillow
numpy
requests
huggingface_hub
sqlalchemy
pymysql
pyttsx3
faiss-cpu
sentence-transformers
# Pour GPU (optionnel) : remplacer faiss-cpu par faiss-gpu